{% comment %}
Ugly but unfortunately short of refactoring I have no way around it.
Open to comments
{% endcomment %}
{{ comment_form.media }}

<form action="" method="post">
{% csrf_token %}
<input type="hidden" name="parent" value="{{ comment.pk }}">
	{% for field in comment_form %}
        <div class="fieldWrapper">
            {{ field.errors }}

            {{ field.label_tag }}
            <br />
            {{ field }}

        </div>
    {% endfor %}
	<p>
		<input type="submit" class="button" value="Comment" />
	</p>
</form>